.khan__buy-link {
  color: #2f80ed;
  text-decoration: none;
  margin-left: 48px;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  margin-bottom: auto;
}
.khan__buy-link:hover {
  opacity: 0.5;
  transition: ease-in-out;
}
